.profile__menu_settings {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    gap: 30px;
}