.diamond__menu_settings-icon {
    background-image: url(../../../../images/settings-icon.svg);
    background-color: rgba(149, 100, 170, 0.1);
    background-position: 50% 50%;
    border-radius: 120px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.diamond__menu_settings-icon:hover {
    background-color: #FFCF2D;
}

@media screen and (max-width: 600px) {
    .diamond__menu_settings-icon {
        width: 30px;
        height: 30px;
        background-size: 16px;
    }
}