.elements__card_title {
    display: flex;
    flex-direction: row;
    gap: 5.5px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 11px;
}

@media screen and (max-width: 600px) {
    .elements__card_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-bottom: 0;
    }
}